<ul class="comments">
    {% for insurance in insurancese %}
    <li class="comment">
        <div class="comment-thumbnail">

        </div>

        <div class="insurance-content">
            <div class="insurance-date">{% if insurance.baodanhao %} 保单号:{{ insurance.baodanhao }} {% endif %}</div>
           
            <div class="insurance-body">


                <div class="labell">
                    {% if insurance.insurname %}
                     险种--{{ insurance.insurname }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.toubaoriqi %}
                     投保日期--{{ insurance.toubaoriqi }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.shengxiaoriqi %}
                     生效期--{{ insurance.shengxiaoriqi }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.baodanzhuangtai %}
                     保单状态--{{ insurance.baodanzhuangtai }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.jiaofeifangshi %}
                     缴费方式--{{ insurance.jiaofeifangshi }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.jiaofeiqi %}
                     缴费期--{{ insurance.jiaofeiqi }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.baoxianqijian %}
                     保险期间--{{ insurance.baoxianqijian }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.baofei %}
                     保费--{{ insurance.baofei }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if form.baoer %}
                     保额--{{ insurance.baoer }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.bankname %}
                     缴费银行--{{ insurance.bankname }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.banknumber %}
                     银行账户--{{ insurance.banknumber }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.bxzeren %}
                     保险责任：{{ insurance.bxzeren }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.bbname %}
                     被保人--{{ insurance.bbname }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.syname %}
                     收益人--{{ insurance.syname }}
                    {% endif %}
                </div>
                <div class="labell">
                    {% if insurance.jjname %}
                     紧急联系人--{{ insurance.jjname }}
                    {% endif %}
                </div>



            {% if moderate %}
                <br>
                {% if comment.disabled %}
                <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}

        </div>
        <div class="comment-footer">
                <a href="{{ url_for('.editii', id=insurance.id) }}">
                    <span class="label label-danger">编辑</span>
                </a>
            </div>
    </li>
    {% endfor %}
</ul>
